<!doctype html>
<html lang="en">

<head>
  <title>NASA Astronomy Photo of the Day</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body class="bg-dark text-white d-flex flex-column min-vh-100">
  
  <header class="container-fluid d-block">
    <h1 class="h1 text-center"><%= nasaData.title %></h1>
    <br>
    <h2 class="h2 text-center"><%= nasaData.date %></h2>
  </header>
  <main>
    
    <div class="container">
      <% if(nasaData.media_type === 'image') { %>
        <img src="<%= nasaData.img %>" class="img-fluid" alt="<%= nasaData.alt %>">
      <% } else { %>
        <div class="ratio ratio-16x9">
          <iframe title="<%= nasaData.title %>" src="<%= nasaData.url %>">
            Video goes here
          </iframe>
        </div>
      <% } %>
      
    </div>

      <div class="container">
        <p class="text-center lh-lg"> <%= nasaData.explanation %> </p>
      </div>

  </main>
  <footer class="bg-black bg-opacity-25 p-2">
    <div class="container">
      <p class="text-start">Site created by Nick Miller
      <a class="link-light float-end" href="https://github.com/n1999ck/NodeProject">Github</a></p>
    </div>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>